@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Medium.woff2') format('woff2'),
        url('./fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('./fonts/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Book.woff2') format('woff2'),
        url('./fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('./fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('./fonts/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('./fonts/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Black.woff2') format('woff2'),
        url('./fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Medium.woff2') format('woff2'),
        url('./fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Light.woff2') format('woff2'),
        url('./fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Bold.woff2') format('woff2'),
        url('./fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Thin.woff2') format('woff2'),
        url('./fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('./fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-XLight.woff2') format('woff2'),
        url('./fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('./fonts/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('./fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


@tailwind utilities;

:root {
    --color-primary-black: #141414; 
    --color-primary-white: #FAFAFA; 
    --color-primary-space-gray: #ADB5BD; 
    --color-primary-red: #EF233C; 
    --color-primary-pear: #C9DC3D; 
    
    --color-grays-200: #F2F2F2; 
    --color-grays-300: #E0E0E0; 
    --color-grays-400: #BDBDBD; 
    --color-grays-500: #828282; 
    --color-grays-600: #4F4F4F; 
    --color-grays-700: #333333; 
    --color-grays-800: #202020;

    --color-secondary-dark-green: #2C4100; 
    --color-secondary-green: #05E401; 
    --color-secondary-orange: #FF6534; 
    --color-secondary-red: #FF0000; 

    --color-button-pear-hover: #B0C803;
    --color-button-pear-click: #9DB200;
    --color-buton-pear-disabled: #C9DC3D;

}

body {
    background: var(--color-primary-black);
    color: #fff;
}